<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcy.ssm.dao.UserDao">
    <resultMap id="UserBaseMap" type="com.zcy.ssm.entity.User">
        <id column="id" property="userId" jdbcType="BIGINT"/>
        <result column="userName" property="userName" jdbcType="VARCHAR"/>
        <result column="userPhone" property="userPhone" jdbcType="VARCHAR"/>
        <result column="userEmail" property="userEmail" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="createTime" property="createTime" jdbcType="BIGINT"/>
        <result column="modifyTime" property="modifyTime" jdbcType="BIGINT"/>
        <result column="userHeadImg" property="userHeadImg" jdbcType="VARCHAR"/>
        <result column="isDelete" property="isDelete" jdbcType="SMALLINT"></result>
    </resultMap>
    <!--通过用户手机查询用户信息，查询手机号是否被注册-->
    <select id="selectUserByPhone" parameterType="String" resultMap="UserBaseMap">
select * from user where userPhone = #{userPhone} and isDelete = 0;
    </select>
    <!-- 插入用户信息，新用户注册-->
    <insert id="insertUser" parameterType="com.zcy.ssm.entity.User">
        <!-- mysql插入数据后，获取id -->
        <selectKey keyProperty="userId" resultType="String" order="AFTER">
            select LAST_INSERT_ID() as id
        </selectKey>
        insert into user(userName, userPhone, userEmail, password, createTime,modifyTime,isDelete)
        values(#{userName}, #{userPhone}, #{userEmail}, #{password},#{createTime},#{modifyTime},#{isDelete})
    </insert>

    <!--根据用户名查询用户-->
    <select id="selectUserByUserName" parameterType="String" resultMap="UserBaseMap">
    select * from user where userName = #{userName} and isDelete = 0
</select>
    <select id="selectUserById" parameterType="String" resultMap="UserBaseMap">
        select * from user where id = #{userId} and isDelete = 0
    </select>

    <update id="updatePassword" parameterType="com.zcy.ssm.entity.User" flushCache="true">
        update user
        <set>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="modifyTime != null">
                modifyTime = #{modifyTime}
            </if>
        </set>
        where id = #{userId}
    </update>

    <update id="updateUser" parameterType="com.zcy.ssm.entity.User">
        update user
        <set>
            <if test="userName != null">
                userName = #{userName},
            </if>
            <if test="userPhone != null">
                userPhone = #{userPhone},
            </if>
            <if test="userEmail != null">
                userEmail = #{userEmail},
            </if>
            <if test="modifyTime != null">
                modifyTime = #{modifyTime},
            </if>
        </set>
        where id = #{userId}
    </update>

</mapper>